<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}"
			rel="stylesheet" media="screen">
			<link href="{% static 'site_specific/css/toldyouso.css' %}"
				rel="stylesheet" media="screen">
			</head>
			<body>
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="{% url 'index' %}">ToldYouSo</a>
						</div>
						<div>
							<ul class="nav navbar-nav">
							<ul class="nav navbar-nav" style="width:90%">
								<li><a href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'admin:index' %}">Admin</a></li>
								<li><a href="{% url 'signup' %}">Sign up</a></li>
								<div class="login" style="float:right; padding-top:12px;">
									<input type="text" name="email" title="Email" style="color:#e6e6e6;" value="Email" onfocus="inputFocus(this)" onblur="inputBlur(this)" />
    								<input type="password" name="password" title="Password" style="color:#e6e6e6;"  onfocus="inputFocus(this)" onblur="inputBlur(this)" />
    								<input type="submit" name="login" title="Login" value="Login" />
    							</div>
    							<!-- IF USER IS SIGNED IN, REPLACE "sign up and email/password/login WITH FOLLOWING"
    							<li><a href="{% url 'detail_list' %}">All Rooms</a></li>
								<li><a href="{% url 'submit' %}">Create a Bet Room</a></li>
								<li><a href="{% url 'find' %}">Find a Room</a></li> -->
    							</div> -->
    							<li><a href="{% url 'detail_list' %}">All Bets</a></li>
								<li><a href="{% url 'find' %}">Find a Bet</a></li>
								{% if user.is_authenticated %}
									<li><a href="{% url 'submit' %}">Create a Bet</a></li>
									<li style="float:right"><a href="{% url 'logout' %}">Logout</a></li>
								    <li style="float:right"><a href="{% url 'index' %}">{{ user.get_username }}</a></li>
							    {% else %}
							    	<li style="float:right"><a href="{% url 'register' %}">Register</a></li>
							    	<li style="float:right"><a href="{% url 'login' %}">Login</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>
				<div class="jumbotron tarheel-blue header kill-spacing">
					<div class="container">
						{% block content %}
						{% endblock %}
					</div>
				</div>
				{% block extra %}
				{% endblock %}
				<script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
			</body>
		</html>