<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}"
			rel="stylesheet" media="screen">
			<link href="{% static 'angular-1.4.8/ng-grid.css' %}"
				rel="stylesheet" media="screen">
			<link href="{% static 'site_specific/css/toldyouso.css' %}"
				rel="stylesheet" media="screen">
			</head>
			<body>
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="{% url 'index' %}">SetInStone</a>
						</div>
						<div>
							<ul class="nav navbar-nav" style="width:80%">
								<li><a href="{% url 'index' %}">Home</a></li>
								{% if user.is_superuser %}
								<li><a href="{% url 'admin:index' %}">Admin</a></li>
								{% endif %}
    							<li><a href="{% url 'detail_list' %}">All Bets</a></li>
								<li><a href="{% url 'find' %}">Find a Bet</a></li>
								{% if user.is_authenticated %}
									<li><a href="{% url 'submit' %}">Create a Bet</a></li>
									<li style="float:right"><a href="{% url 'logout' %}">Logout</a></li>
								    <li style="float:right"><a href="{% url 'index' %}">{{ user.get_username }}</a></li>
							    {% else %}
							    	<li style="float:right"><a href="{% url 'register' %}">Register</a></li>
							    	<li style="float:right"><a href="{% url 'login' %}">Login</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>
<!-- 				<div class="jumbotron tarheel-blue header kill-spacing">
					<div class="container"> -->
						{% block content %}
						{% endblock %}
<!-- 					</div>
				</div> -->
			</div>
		</div>
		{% block extra %}
		{% endblock %}
		<script src="{% static 'jQuery/jquery-2.1.4.min.js' %}"></script>
		<script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'angular-1.4.8/angular.min.js' %}"></script>
		<script src="{% static 'angular-1.4.8/ui-bootstrap-tpls-0.14.3.min.js' %}"></script>
		<script src="{% static 'angular-1.4.8/ng-grid-2.0.14.min.js' %}"></script>
		<script src="{% static 'djangular/js/django-angular.js' %}"></script>
		<script src="{% static 'site_specific/js/myapp.js' %}"></script>

	</body>
</html>