<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<style>
.jumbotron {
    padding: 10px;
}
</style>
<!-- LOOK INTO THIS LATER! -->
<base href="/">
<div ng-controller="RoomController" ng-app='myapp' data-ng-init="getAllBets()">
    <div class="container">
        <div class="searchInput" class="row">
        <form novalidate class="simple-form" id="blackText">   
            <div class="col-md-12">
                <!-- <div class="col-md-2"> -->
                    <!-- <div class="btn-group" uib-dropdown is-open="status.isopen"> -->
                        <!-- <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled"> <span class="caret"></span></button> -->
                        <select id="betFilterDropdown" class="form-control btn btn-primary dropdown-toggle" ng-model="selectedFilter" ng-init="selectedFilter = betFilterOptions.title" ng-options="option for option in betFilterOptions" ng-change="updateOptionsView(selectedFilter)">
                        </select>                        
                       <!--  <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button" 
                            ng-model="betFilterOptions"> 
                        <li ng-repeat="option in betFilterOptions">{{option}}</li> -->
                <!-- </div> -->
                </div>
            </div>

            <div class="search-text" ng-show="titleSelected">
                <input type="text" class="form-control" ng-model="searchBet.title" placeholder="bet title"/>
            </div>
            <div class="search-text" ng-show="challengerConditionSelected">
                <input type="text" class="form-control" ng-model="searchBet.challengerCondition" placeholder="challenger condition"/>
            <div>{{searchBet.challengedName}}</div>
            </div>
             <div class="search-text" ng-show="challengerAmountSelected">
                <input type="text" class="form-control" ng-model="searchBet.challengerAmount"placeholder="challenger amount (include the $ sign)"/>
            </div>
            <div class="search-text" ng-show="challengedConditionSelected">
                <input type="text" class="form-control" ng-model="searchBet.challengedCondition" placeholder="challenged condition"/>
                <div>{{searchBet.challengedName}}</div>
            </div>
            <div class="search-text" ng-show="challengedAmountSelected">
                <input type="text" class="form-control" ng-model="searchBet.challengedAmount" placeholder="challenged amount (include the $ sign)"/>
            </div>
            <div class="dateCreatedFilter" class="col-md-6" ng-show="dateCreatedSelected">
                <div class="calendar-field">
                    <h5>Start date:</h5> <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="searchBet.dateCreated_start" is-open="opened1" ng-required="true" close-text="Close" ng-model="searchBet.startDate" /><button type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
                <div class="calendar-field">
                    <h5>End date:</h5> <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="searchBet.dateCreated_end" is-open="opened2" ng-required="true" close-text="Close" ng-model="searchBet.endDate"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
            </div>
            <div class="dateAcceptedFilter" class="col-md-6" ng-show="dateAcceptedSelected">
                <div class="calendar-field">
                    <h5>Start date:</h5> <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="searchBet.dateAccepted_start" is-open="opened1" ng-required="true" close-text="Close" ng-model="searchBet.startDate" /><button type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
                <div class="calendar-field">
                    <h5>End date:</h5> <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="searchBet.dateAccepted_end" is-open="opened2" ng-required="true" close-text="Close" ng-model="searchBet.endDate"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event,'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
            </div>
             <div>
                <button ng-click="filterBets()" class="filter-button">Filter</button>
                <button ng-click="getAllBets()" class="filter-button">Show All Bets</button>
             </div>
        </form>
    </div>
        <div  style="table-layout: fixed; width: 100%" class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>
{% endblock %}