<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <div ng-controller="RoomController" ng-app='myapp' data-ng-init="getAllRooms()" >
        <table class="table table-bordered">
            <ul>
                <li ng-repeat="room in allRooms">
                    {{room.title }} {{room.email1}} {{room.condition1}}  {{room.amount1}} {{room.email2}} 
                    {{room.condition2}} {{room.amount2}} 
                </li>
            </ul>
        </table>
    </div>
{% endblock %}