<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <div class="list-img jumbotron"></div>
{% endblock %}


{% block extra %}
{% verbatim %}		
<div class="list-space">
    <div ng-controller="RoomController" ng-app='myapp' data-ng-init="getBet()">
        <table class="table table-bordered" ng-model="bet_data">
            <tr>
                <td>{{ bet_data.title }}</td>
                <td>{{ bet_data.key }}</td>
                <td>{{ bet_data.date_created }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="list-footer"></div>

{% endverbatim %}
{% endblock %}