<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
	<h2 class="text-center">Frequently Asked Questions</h2>
{% endblock %}
{% block extra %}
	<div class="questions">
		<h3>Questions</h3>
		<br>
		<a href="#q1">How do I make a bet?</a><br>
		<a href="#q2">How do I share the bet with a friend?</a><br>
		<a href="#q3">How do I share the bet with multiple friends?</a><br>
		<a href="#q4">Can I change my bet once I've created it?</a><br>
		<a href="#q5">Can I add more than one friend to my bet?</a><br>
		<a href="#q6">Is there a limit on the number of bets I can create?</a><br>
		<a href="#q7">Will my bets exist forever?</a><br>
		<a href="#q8">Can I see all of the bets I've ever created?</a><br>
		<a href="#q9">Can anyone create an account on SetInStone?</a><br>
		<a href="#q10">Can I delete my bet after creating it?</a><br>
		<a href="#q11">What cool functionalities are you guys hoping to add to SetInStone?</a><br>
		<a href="#q12">I found a bug in your app.  Where can I submit the information so you can fix it?</a><br>
		<a href="#q13">This app looks really interesting.  How did you build it?</a><br>
		<br>
	</div>
	<br>
	<div class="tarheel-blue">
		<div class="answers">
			<br>
			<h3>Answers</h3>
			<br>
			<a name="q1"></a><h5><strong>How do I make a bet?</strong></h5>
			<p>Answer to Question 1.</p>
			<a name="q2"></a><h5><strong>How do I share my bet with a friend?</strong></h5>
			<p>Answer to Question 2.</p>
			<a name="q3"></a><h5><strong>How do I share my bet with multiple friends?</strong></h5>
			<p>Unfortunately users can only share a bet with a single friend at the moment.  We hope to enhance the site in the future to allow for users to share bets with multiple friends.</p>
			<a name="q4"></a><h5><strong>Can I change my bet once I've created it?</strong></h5>
			<p>No.  The premise of SetInStone is that bets, once placed, can never be changed.  If we allowed users the opportunity to change their bets after placing them, we would be defeating the purpose of the site.</p>
			<a name="q5"></a><h5><strong>Can I add more than one friend to my bet?</strong></h5>
			<p>No.  At the moment, users can only place bets with one other user.  Allowing for multiple users on a single bet may be a functionality that will be added in the future.</p>
			<a name="q6"></a><h5><strong>Is there a limit on the number of bets I can create?</strong></h5>
			<p>Nope!  You can create as many as you would like.</p>
			<a name="q7"></a><h5><strong>Will my bets exist forever?</strong></h5>
			<p>Bets that have been "closed" (i.e. both members of the bet have submitted their portions of the bet) will exist forever.  Bets that are left "open" (i.e. one member of the bet has not yet submitted his portion) will only exist for ten days, after which they will be deleted.</p>
			<a name="q8"></a><h5><strong>Can I see all of the bets I've ever created?</strong></h5>
			<p>Answer to Question 7.</p>
			<a name="q9"></a><h5><strong>Can anyone create an account on SetInStone?</strong></h5>
			<p>Yes!  This site is open to everyone.</p>
			<a name="q10"></a><h5><strong>Can I delete my bet after creating it?</strong></h5>
			<p>If your bet has not yet been accepted, you will have the option to delete it.  Bets that have been accepted by the second party will be set in stone and cannot be deleted.</p>
			<a name="q11"></a><h5><strong>What cool functionalities are you guys hoping to add to SetInStone?</strong></h5>
			<p>We have some major improvements planned for SetInStone!  The primary functionality we're looking to add to the app is the ability to handle more than just two users on a bet.  We think this will open doors to users and make the app much more useful for our wide variety of users.</p>
			<a name="q12"></a><h5><strong>I found a bug in your app.  Where can I submit the information so you can fix it?</strong></h5>
			<p>If you find any bugs or issues, please let us know on our GitHub page at <a href="https://github.com/kkjang/toldyouso/issues">https://github.com/kkjang/toldyouso/issues</a>.  Thanks for your help!</p>
			<a name="q13"></a><h5><strong>This app looks really interesting.  How did you build it?</strong></h5>
			<p>Glad you like it!  We built it using mostly Django and Angular.  Our backend database is SQLite.  Feel free to check out the source code on our GitHub page at <a href="https://github.com/kkjang/toldyouso">https://github.com/kkjang/toldyouso</a>.</p>
			<br>
		</div>
	</div>
	<div class="tarheel-white" style="height:120px">
	</div>
{% endblock %}