<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
	<h2 class="text-center">Getting Started</h2>
{% endblock %}
{% block extra %}
	<div class="tarheel-white">
		<div class="container">
			<br><br>
			<p>Not sure how to get started?  Not to worry!  Just follow these simple steps to start creating bets and share them with your friends.</p>
			<br>
			<div class="row getting-started">
				<div class="col-md-3">
					<h2>Step 1</h2>
					<p>Make a bet with a friend!</p>
					<p>Follow this <a href="{% url 'submit' %}">link</a> or use the top bar to create a new bet.</p>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<h2>Step 2</h2>
					<p>Give your bet key to your friend.</p>
					<p>Your friend can access your bet via this <a href="{% url 'find' %}">link</a>.</p>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<h2>Step 3</h2>
					<p>Your friend can now use the key to place their side of the bet.</p>
					<p>E-mail yourself the bet URL so you can keep track of the bet!</p>
				</div>
			</div>
			<br><br>
			<p>That's all there is to it!  Go ahead and try making your first bet if you haven't already.  If you have any questions, check out our <a href="http://localhost:8000/faq/">FAQ page</a>.</p>
			<br><br>
		</div>
	</div>
	<div class="tarheel-blue" style="height:100px">
	</div>

{% endblock %}