<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
	<div class="text-center">
		<h1 class="special-title">Welcome to SetInStone</h1>
		<h3>A lightweight tool for keeping track of bets with friends!</h2>
	</div>
{% endblock %}
{% block extra %}
	<div class="jumbotron tarheel-white">
		<div class="container">
			<div class="description_view_bets" style="float:left; width:60%;text-align:left">
				<p style="display:inline-block">SetInStone was created by a group of students attending the University of North Carolina at Chapel Hill.  Kevin Jang was the original creator, later joined by Peter Chen, Patrick Lung, and Kaja Coraor. The purpose of the site is to allow for friends to record their bets so neither party can change their side or renege on the bet.  </p>
			</div>
			<div class="home-middle-nav-bar">
				<form action="{% url 'getstarted' %}">
				    <input type="submit" value="Getting Started">
				</form>
				<form action="{% url 'faq' %}">
				    <input type="submit" value="Frequently Asked Questions">
				</form>
				<form action="{% url 'detail_list' %}">
				    <input type="submit" value="View Bets">
				</form>
			</div>
		</div>
	</div>
{% endblock %}