<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<h2>
<!-- {{ user.first_name }}
{{ user.last_name }}
 -->{{ user.username }}</h2>
{% verbatim %}		
<div class="list-space">
	<!-- <span style="float:right"><a href="{% url 'index' %}">{{ user.get_username }}</a></li>
	{% if user.is_authenticated % }
        <h2>{{ user.user_id }}</h2>asdf
    { % endif %} -->
	<!-- <h2>{{ user.get_username }}</h2> -->
    <div ng-controller="RoomController" ng-app='myapp' data-ng-init="getUserBets()">
        <table class="table table-bordered" ng-model="bet_data">
            <tr>
                <td>{{ bet_data.title }}</td>
                <td>{{ bet_data.key }}</td>
                <td>{{ bet_data.date_created }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="list-footer"></div>

{% endverbatim %}
{% endblock %}