<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="small-list-space pretty-submit">
	<h2>{{ title }}</h2>
	<form ng-controller="RoomController" ng-app='myapp' ng-submit="submit()" >
		<!-- {{ form }} -->
		<br><br>
		<div class="container create-bet">
			<p id="bet-title">Title of bet: {{ form.title }}</p>
			<br><br>
			<div class="your-bet">
				<p class="amount">You are betting {{ form.amount1 }}</p>
				<p class="condition">that {{ form.condition1 }}</p>
			</div>
			<div class="friends-bet">
				<p class="amount">Your friend is betting {{ form.amount2 }}</p>
				<p class="condition">that {{ form.condition2 }}</p>
			</div>
		</div>
		<br><br>
		<button>Submit Bet</button>
	</form>
	<br>
	<p class="small-text">Bets are set in stone and cannot be changed after submission.</p>
	<br>
</div>

<div class="list-footer"></div>
{% endblock %}