#blackText{
  color: black;
}
.tarheel-blue{
	background-color: #007B95;
	color: #FFFFFF;
}
.tarheel-white{
	background-color: #FFFFFF;
}
.special-title{
	font-weight: bold;
	padding-bottom:50px;
}
.kill-spacing{
	margin-bottom:0px;
}
.header{
	padding:100px;
}
.home-img {
  background-image: url("../imgs/blue-pattern.jpg");
  background-position: center;
  color: #003366;
  width: 100%;
  height:400px;
}

.getting-started-img {
  background-image: url("../imgs/blue-pattern.jpg");
  background-position: 0% 70%;
  color: white;
  width: 100%;
  height:150px;
}
.getting-started > div > p {
	font-size:15px;
}
.getting-started > div > h2 {
	color: #007B95;
	text-decoration: underline;
}
.getting-started-footer {
  background-image: url("../imgs/blue-pattern.jpg");
  background-position: 70% 70%;
  width: 100%;
  height:100px;
}
.login {
  float: left;
  padding-top: 12px;
}
.faq-img {
  background-image: url("../imgs/blue-pattern.jpg");
  background-position: 70% 60%;
  color: white;
  width: 100%;
  height:150px;
}
.faq-questions {
  padding-top:20px;
  color:#003366; 
  text-align: left;
  padding-left: 10%;
  line-height: 28px;
}
.faq-answers {
  color: white;
  padding-left:10%;
  padding-right: 10%;
}
.faq-answers h3 {
  color:#000;
}
.faq-answers p {
  color:#003366;
  padding-right: 10%;
}
.faq-answers a {
  color:#84E8E6;
}
.home-middle-nav-bar form{
  padding-left: 65%;
  padding-top: 1%;
}
.home-middle-nav-bar input[type=submit] {
  color: white;
  font-size: 1.3em;
  padding:5px 15px; 
  background:#007B95; 
  border:0 none;
  cursor:pointer;
  border-radius: 5px; 
}
.home-middle-nav-bar input[type=submit]:hover {
  background:#003366; 
}
.list-img {
  background-image: url("../imgs/blue-pattern.jpg");
  background-position: 70% 60%;
  width: 100%;
  height:100px;
}
.list-footer {
  background-image: url("../imgs/blue-pattern.jpg");
  background-position: 0% 65%;
  width: 100%;
  height:70px;
  position: relative;
  top: 300px;
  bottom:0px;
}
.small-list-footer {
  background-image: url("../imgs/blue-pattern.jpg");
  background-position: 0% 65%;
  width: 100%;
  height:70px;
  position: relative;
  top: 150px;
  bottom:0px;
}
.list-space {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 50px;
  height: 550px;
  margin-bottom: 60px;
}
.small-list-space {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 50px;
  height: 150px;
  margin-bottom: 60px;
}
.pretty-submit button {
  color: white;
  font-size: 1.3em;
  padding:5px 15px; 
  background:#007B95; 
  border:0 none;
  cursor:pointer;
  border-radius: 5px; 
  margin-top: 5px;
}
.pretty-submit button:hover {
  background:#003366; 
}
.create-bet h3{
  font-size: 1.2em;
}
#bet-title {
  font-size: 1.2em;
  /*padding-left: 30%;*/
  width: 60%;
}
.your-bet {
  float: left;
  width: 40%;
  margin-right: 2px;
}
.friends-bet {
  float: right;
  width: 40%;
  margin-right: 40px;
}
.small-text {
  font-size: 0.9em;
  font-weight: bold;
}
.amount {
  width: 60%;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  font-weight: bold;
  margin-bottom:0px;
  /*overflow: scroll;*/
}
.navbar-default .navbar-brand {
  color: #003366;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #007B95;
}
.navbar-default .navbar-text {
  color: #007B95;
}
.navbar-default .navbar-nav > li > a {
  color: #007B95;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #007B95;
  text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #007B95;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #007B95;
}
.navbar-default .navbar-link {
  color: #007B95;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #007B95;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ffffff;
  }
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 1000px; 
    height: 500px;
}
.ngHeaderSortColumn{
  background-color: #007B95;
  color: white;
}

.ngCellText{
  background-color: #B5F7F1;
   overflow:visible;
  height: 50px;
  color: #007B95;
  /*word-wrap: break-word;*/
}

/*select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}*/

#betFilterDropdown{
  width: 175px;
}
.searchInput {
  float: left;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 3%;
  /*width: 200px;*/
}
.search-text {
  width: 50%;
  float: left;
  padding-left: 1%;
}
.calendar-field {
  width: 25%;
  float: left;
  padding-left: 1%;
  margin-bottom: 3%;
}
.filter-button {
  width: auto;
  color: white;
  font-size: 1.3em;
  padding:5px 15px; 
  margin-left: 1%;
  background:#007B95; 
  border:0 none;
  cursor:pointer;
  border-radius: 5px; 
}
#filter-button:hover {
  background:#003366; 
}
.minis {
  width: 100%;
  margin-top:20px;
  margin-left: auto; 
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
   text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
.minis a{
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  min-width: 200px;
}
.minis h4 {
  padding-left: 65px;
}
.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}
.mini-img {
  color: #007B95;
  /*margin-left: auto;*/
  width: 250px;
  /*height: auto;*/
}

